@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 7%;
        --foreground: 0 0% 100%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --popover: 0 0% 7%;
        --popover-foreground: 0 0% 100%;

        --card: 0 0% 7%;
        --card-foreground: 0 0% 100%;

        --primary: 0 0% 100%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 0 0% 100%;

        --accent: 0 0% 12%;
        --accent-foreground: 0 0% 100%;

        --destructive: 0 100% 50%;
        --destructive-foreground: 210 40% 98%;

        --ring: 215 20.2% 65.1%;

        --radius: 0.5rem;
    }
}

* {
    @apply border-neutral-600/30;
}
body {
    @apply bg-background text-foreground;
    font-family: 'Montserrat', sans-serif;
    font-feature-settings:
        'rlig' 1,
        'calt' 1;
}

.center {
    @apply flex items-center justify-center;
}

.start {
    @apply flex items-start justify-center;
}

.input-mask {
    @apply border w-full bg-neutral-950/40 rounded-full py-3 px-5 outline-none focus:bg-neutral-900 placeholder:text-sm placeholder:text-slate-300/50 disabled:bg-transparent disabled:border-neutral-950/70 duration-150 ease-in transition-all;
}

.cards {
    @apply border rounded-3xl p-4 border-[#2b2b2b] flex flex-row gap-4 cursor-pointer items-center hover:border-slate-200 transition-colors;
}
